.encadrementAdd
    border-radius: 10px
    display: flex
    justify-content: space-around
    align-items: center
    margin: 0.5rem
    cursor: pointer
    width: 100%
    border: 2px solid grey
    .svgAdd
        border: 1px solid grey
        width: 0.55rem
        padding: 5px
        height: 0.55rem
        display: flex
        align-items: center
        border-radius: 3px
        fill: white
        background-color: white
    .textAdd
        text-align: left
        h4
            color: purple
            margin-block-end: 0em
        p
            margin-block-start: 0.1em

.encadrementAddBiss
    border-radius: 10px
    display: flex
    justify-content: space-around
    align-items: center
    margin: 0.5rem
    cursor: pointer
    width: 100%
    border: 3px solid purple
    .svgAdd
        background-color: purple
        width: 0.55rem
        padding: 5px
        height: 0.55rem
        display: flex
        align-items: center
        border-radius: 3px
        fill: white

    .textAdd
        text-align: left
        h4
            color: purple
            margin-block-end: 0em
        p
            margin-block-start: 0.1em